@use "styles/space" as *;
@use "styles/fonts" as *;
@use "styles/colors" as *;

.page {
  display: grid;
  grid-column: 1fr;
}

.main__text {
  padding: $space-m;
  font-size: $font-s;
}

.newCategoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-l;
}

.formControl {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-bottom: $space-m;

  label legend {
    font-size: $font-s;
    margin-bottom: $space-s;
  }
}

.inputText {
  padding: $space-s $space-s $space-s 0;
  border: none;
  border-bottom: 2px solid $main-color;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $space-s;
}

.singleCategory {
  display: flex;
  width: 100%;
  max-width: 250px;
  align-items: center;
  justify-content: space-around;
}

.categoryIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: pink;
  border-radius: 8px;
}

// .categories__container {
//   display: flex;
//   width: 100%;
//   overflow-x: auto;

//   & > * + * {
//     margin-left: 2rem;
//   }
// }

// .categories__card {
//   flex: 0 0 33%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: pink;
//   height: 50px;
//   border-radius: 8px;
//   margin-bottom: 2rem;
//   box-shadow: 2px 4px rgb(189, 185, 185);

//   &:first-of-type {
//     margin-left: 1rem;
//   }
//   &:last-of-type {
//     margin-right: 1rem;
//   }
// }

// .card__header {
//   font-size: 0.75rem;
//   font-weight: 400;
// }

// .form__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   margin-top: 2rem;

//   h3 {
//     margin-bottom: 1rem;
//   }
// }

// .form__control {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 1rem;
//   font-size: 0.75rem;

//   label {
//     margin-bottom: 0.5rem;
//   }

//   input {
//     padding: 0.25rem;
//   }
// }

// .submit {
//   margin-top: 1rem;
//   padding: 1rem;
//   background-color: transparent;
// }
